<% if (resultado_final[0]) { %>
    <h1>
        CLASIFICACIÓN FINAL
    </h1>
    
    <table id="usersIndex">
        <thead>
            <tr>
                <th>JUGADOR</th>
                <th>PUNTUACIÓN</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i in resultado_final) { %>
                <tr>
                    <td><%= resultado_final[i].nombre %></td>
                    <td><%= resultado_final[i].STB_TOTAL %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <br>
<% } %>

<h1>
    CLASIFICACIÓN
</h1>

<table id="usersIndex">
    <thead>
        <tr>
            <th>JUGADOR</th>
            <th>PUNTUACIÓN</th>
            <th>HANDICAP</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i in jugadores) { %>
            <tr>
                <td><%= jugadores[i].jugador %></td>
                <td><%= jugadores[i].puntuacion %></td>
                <td><%= jugadores[i].handicap %></td>  
            </tr>
        <% } %>
    </tbody>
</table>
<br>